* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listOfNotes {
  display: flex;
  flex-wrap: wrap;
  padding: 10px
}

ul {
margin: 10px;
border: 3px solid gray;
border-radius: 10% 10% 10% 10%;
padding: 10px
}

.confirmDeleteBtn {
  margin-left: 1rem;
}
h1 {
  padding: 50px;
  text-align: center;
}
#NewNote {
  text-align: center;
}
h2 {
  text-align: center;
  
}
.allNotes {
  width: 1200px;
  padding: 50 px;
}